<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.fj.qianfeng.mapper.IUserMapper">
	<select id="findByName" parameterType="User" resultType="User">
		select * from user where username=#{username}
	</select>
	<update id="modifyById" parameterType="User">
		update user set username=#{username},age=#{age},
		phone=#{phone},sex=#{sex},addres=#{addres} where id=#{id}
	</update>
	<select id="findUser" parameterType="User" resultType="User">
		select * from user where id=#{id}
	</select>
	<update id="findById" parameterType="User">
		update user set username=#{username},password=#{password}
		 where id=#{id}
	</update>
	<select id="selectAll" parameterType="User" resultType="User">
		select * from user
	</select>
	<insert id="addUser" parameterType="User">
		insert into user (username,password,age,sex,phone,addres) values (#{username},#{password},#{age},#{sex},#{phone},#{addres})
	</insert>
	<select id="findAll" parameterType="String" resultType="Vacate">
		select name,DATE_FORMAT(start_time,'%Y-%m-%d')  as start_time,DATE_FORMAT(over_time,'%Y-%m-%d') AS over_time,leave_day,leave_cause,admin,audit  from vacate where name=#{name}
	</select>
	<insert id="addVacate" parameterType="Vacate">
		insert into vacate (name,start_time,over_time,leave_day,leave_cause,admin) values (#{name},#{start_time},#{over_time},#{leave_day},#{leave_cause},#{admin})
	</insert>
	<select id="manageLeave" parameterType="String" resultType="Vacate">
		select * from vacate where name=#{username}
	</select>
	<update id="alter" parameterType="String">
		update vacate set audit=1 where name=#{name}
	</update>
	<update id="disagree" parameterType="String">
		update vacate set audit=2 where name=#{name}
	</update>
	
	<insert id="saveEmail" parameterType="Email">
	insert into email (email_name,email_title,email_content,accessory,send_name) values (#{email_name},#{email_title},#{email_content},#{accessory},#{send_name})
	</insert>
	
	<select id="findEmail" parameterType="String" resultType="Email">
		select * from email where email_name=#{username}
	</select>
	
	<update id="toDelectBox" parameterType="Email">
		update email set isdelete=1 where id=#{id}
	</update>
	
	<select id="toEmailDetails" parameterType="Email" resultType="Email">
		select * from email where id=#{id}
	</select>
	<update id="toRead" parameterType="Email">
		update email set isread=1 id=#{id}
	</update>
	
	 <update id="toRestore" parameterType="Email">
		update email set isdelete=0 where id=#{id}
	</update>
	<delete id="DeleteEmail" parameterType="Email">
		delete from email where id=#{id}
	</delete>
</mapper>
